<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668554038501-tbguvf842enpdrfvqam9pi0e6h1mnlnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668554038501-tbguvf842enpdrfvqam9pi0e6h1mnlnr</string>
	<key>API_KEY</key>
	<string>AIzaSyC5SZh3Kld-cDySoMRW-Rrm5fHa9zvmSXY</string>
	<key>GCM_SENDER_ID</key>
	<string>668554038501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterthailand.yhinarduino</string>
	<key>PROJECT_ID</key>
	<string>yhinarduino</string>
	<key>STORAGE_BUCKET</key>
	<string>yhinarduino.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668554038501:ios:27ece59248efe2dfd9180c</string>
	<key>DATABASE_URL</key>
	<string>https://yhinarduino.firebaseio.com</string>
</dict>
</plist>